.input-group {
  margin: 20px 0px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td {
  min-width: 200px;
  height: 200px;
}

svg {
  height: 100%;
  width: 100%;
}